﻿/*CSS-Datei für Test Aufagbe 1*/

body {
    font:100% Candara, Calibri, sans-serif;
    background-color: snow;
}

h3 {
    margin-left: 2%;;
    font: 185% Britannic, Broadway, fantasy;
    color:teal;
}

/*############ Formatierung Tabelle #############*/

table {
    margin-left: 2%;
    font-family: Candara, Calibri, sans-serif;
    width: 50%;
    background-color:dimgray;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:hover {
    background-color: lightblue;
}

th {
    font: bold 125% Britannic, Broadway, fantasy;
}

td {
    padding: .25%;
    padding-left: 5%;
    border-radius: 5px;
}

td:nth-child(3n-1) {
    text-align:center;
    padding:0.25%;
}

/*############ Formatierung Knöpfe #############*/

p{
    margin-left: 2%;
    font-size:115%;
    color:gray
}

.button {
    display: inline-block;
    margin: .5%;
    padding: .5%;
    border-style: none;
    border-radius: 10px;
    background-color: silver;
    box-shadow: 1px 1px 3px 0px #00000025;
    width: 15%;
    height: auto;
}

.button:hover{
    background-color: gold;
    cursor: pointer;
}

#anzahl {
    margin-top: 2%;
    margin-left: 2%;
}

#neue {
    margin-left: 2%;
}

#count, #count2 {
    border-radius: 5px;
    width: 5%;
    height: auto;
}

.tabledata {
    border-radius: 5px;
    width: 5%;
    height: auto;
    margin:.1%;
    margin-bottom:.5%;
}

.tabledata#Name, #neue2 {
        margin-left: 2%;
    }

footer {
    text-align: center;
 /*  font:100% Candara, Calibri, sans-serif;*/ 
}